@{
    ViewData["Title"] = "Olvide Mi Contraseña";
}

<div>
    <a class="logo logo-alternativo" href='@Url.Action("Index")'>
        <img src="/img/Logo-StayCo.jpg" alt="logo">
        <h1>Stay-Co</h1>
    </a>
</div>

<main class="main__top-margin">
 <div id="login-cantainer">
        <h2>Olvide mi contraseña</h2>
        <form method="post" action='@Url.Action("VerificarExsistenciaUsuario")' onsubmit="return verificarPassword()">
                <div class="label-input">
                    <label class="" for="userInput" class="form-label">Creá tu nueva contraseña</label>
                    <input class="larger-inputs" name="password" autocomplete="off" id="contraseñaInput" type="password" class="form-control" placeholder="••••••••••" required>
                </div>
                <div class="label-input">
                    <label class="" for="userInput" class="form-label">Confirmá tu contraseña</label>
                    <input class="larger-inputs" name="password" autocomplete="off" id="contraseñaInput2" type="password" class="form-control" placeholder="••••••••••" required>
                </div>
                <button class="btn-1" type="submit" style="margin-top: 15px;">Actualizar mi contraseña</button>
        </form>
    </div>
</main>



