@{
    ViewData["Title"] = "LogIn";
}
<!-- LOGIN -->
<main class="main__top-margin">
    <div id="login-cantainer">
        <h2>Iniciar Sesion</h2>
        <form method="post" action='@Url.Action("VerificarLogin")'>
            <div class="label-input">
                <label class="" for="userInput" class="form-label">Usuario</label>
                <input class="larger-inputs" type="text" class="form-control" placeholder="myAwesomeUser" id="userInput" name="user">
            </div>
            <div class="label-input">
                <label for="passwordInput">Contraseña</label>
                <input type="password" class="larger-inputs" id="passwordInput" placeholder="••••••••••" aria-describedby="olvidoPassword" name="password">
            </div>
            <button class="btn-1" type="submit">Iniciar Sesion</button>
            <p class="Login__main-login-form-little_text">¿Eres Nuevo?&nbsp;<a href='@Url.Action("Registro")'>Registrate</a></p>
        </form>
    </div>
</main>