@{
    ViewData["Title"] = "LogIn";
}
<!-- LOGIN -->
<h2>Iniciar Sesion</h2>
<form method="post" action='@Url.Action("VerificarLogin")'>
    <div>
        <label class="" for="userInput" class="form-label">Usuario</label>
        <input clas="" type="text" class="form-control" id="userInput" name="user">
    </div>
    <div>
        <label for="passwordInput">Contraseña</label>
        <input type="password" id="passwordInput" aria-describedby="olvidoPassword" name="password">
    </div>
    <button type="submit">Iniciar Sesion</button>
    <a href='@Url.Action("Registro")'><button type="button" class="">¿Eres Nuevo? Registrate</button></a>
</form>