@{
    ViewData["Title"] = "Iniciar Sesión";
}
<!-- LOGIN -->

<div style="width:100%">
    <a class="logo logo-alternativo" href='@Url.Action("Index")'>
        <img src="/img/Logo-StayCo.jpg" alt="logo">
        <h1>Stay-Co</h1>
    </a>
</div>

<main class="main__top-margin">
    <div id="login-cantainer">
        <h2>Iniciar Sesión</h2>
        <form method="post" action='@Url.Action("VerificarLogin")'>
            <div class="label-input">
                <label class="" for="userInput" class="form-label">Usuario</label>
                <input class="larger-inputs" type="text" class="form-control" placeholder="myAwesomeUser" id="userInput" name="user" required>
            </div>
            <div class="label-input">
                <label for="passwordInput">Contraseña</label>
                <input type="password" class="larger-inputs" id="passwordInput" placeholder="••••••••••" aria-describedby="olvidoPassword" name="password" required>
                
                <p class="Login__main-login-form-little_text" style="margin-top: 7px; text-align: start;"><a href='@Url.Action("Olvide", new { idUsuario = -1 })' method="POST">¿Olvidaste tu contraseña?&nbsp;</a></p>
            </div>
            <button class="btn-1" type="submit" style="margin-top: 7px;">Iniciar Sesión</button>
            <p class="Login__main-login-form-little_text" style="margin-top: 15px;">¿Eres Nuevo?&nbsp;<a href='@Url.Action("Registro")'>Registrate</a></p>
        </form>
    </div>
</main>