@{
    ViewData["Title"] = "Olvide Mi Contrase침a";
}

<div>
    <a class="logo logo-alternativo" href='@Url.Action("Index")'>
        <img src="/img/Logo-StayCo.jpg" alt="logo">
        <h1>Stay-Co</h1>
    </a>
</div>

<main class="main__top-margin">
    <div id="login-cantainer">
        <h2>Olvide mi contrase침a</h2>
            <form method="post" action='@Url.Action("PreguntaDeRecuperacion")'>
                <div class="label-input">
                    <label class="" for="userInput" class="form-label">Ingres치 tu nombre de usuario</label>
                    <input class="larger-inputs" name="username" autocomplete="off" type="text" class="form-control" placeholder="miusuario" id="userInput" name="user" required>
                </div>
                <button class="btn-1" type="submit" style="margin-top: 15px;" >Obtener contrase침a</button>
            </form>
    </div>
</main>