@{
    ViewData["Title"] = "Registrarse";
}
<!-- Registro -->
<div>
    <a class="logo logo-alternativo" href='@Url.Action("Index")'>
        <img src="/img/Logo-StayCo.jpg" alt="logo">
        <h1>Stay-Co</h1>
    </a>
</div>

<main class="main__top-margin">
    <div id="signup-container">
        <h2>Registrarse</h2>
        <form method="post" class="form-grid" action='@Url.Action("RegistrarUsuario")' onsubmit="return verificarPassword()">
            <div class="label-input">
                <label for="usuarioInput" class="form-label">Creá tu usuario</label>
                <i class="fa-solid fa-circle-info"></i>
                <input type="text" class="larger-inputs" placeholder="myAwesomeUser" id="usuarioInput" name="usuario" required>
            </div>
           
            <div class="label-input">
                <label for="emailInput" class="form-label">Ingresá tu email</label>
                <i class="fa-solid fa-circle-info"></i>
                <input type="email" class="larger-inputs" placeholder="myname123@email.com" id="emailInput" name="email" required>
            </div>
             <div class="label-input">
                <label for="contraseñaInput" class="form-label">Creá una contraseña</label>
                <i class="fa-solid fa-circle-info"></i>
                <input type="password" class="larger-inputs" placeholder="••••••••••" id="contraseñaInput" name="contraseña" required>
            </div>
            <div class="label-input">
                <label for="contraseñaInput" class="form-label">Confirmá tu contraseña</label>
                <i class="fa-solid fa-circle-info"></i>
                <input type="password" class="larger-inputs" placeholder="••••••••••" id="contraseñaInput2" required>
            </div>

            <button type="submit" class="btn-1 btn-primary" id="botonEnviar">Registrarse</button>
            <p class="Login__main-login-form-little_text" id="signup-little_text">¿Ya tenes una cuenta?&nbsp;<a href='@Url.Action("Login")'>Iniciá sesión</a></p>
        </form>
    </div>
</main>

<script src="~/js/registro.js"></script>