@{
    ViewData["Title"] = "LogIn";
}
<!-- Registro -->
<form method="post" action='@Url.Action("RegistrarUsuario")'>
    <div class="mb-3">
        <label for="usuarioInput" class="form-label">Usuario</label>
        <input type="text" class="form-control" id="usuarioInput" name="usuario">
    </div>
    <div class="mb-3">
        <label for="contrase単aInput" class="form-label">Contrase単a</label>
        <input type="password" class="form-control" id="contrase単aInput" name="contrase単a">
    </div>
    <div class="mb-3">
        <label for="emailInput" class="form-label">Email</label>
        <input type="email" class="form-control" id="emailInput" name="email">
    </div>
    <button type="submit" class="btn btn-primary" id="botonEnviar">Registrarse</button>
</form>