/* ---- ----- ----- Contenedor Titulo y Controles ----- ----- ----- */
.contenedor-titulo-controles {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.contenedor-titulo-controles h3 {
	color: #fff;
	font-size: 30px;
}

.contenedor-titulo-controles .indicadores button,
.indicadores2 button {
	background: #fff;
	height: 3px;
	width: 10px;
	cursor: pointer;
	border: none;
	margin-right: 2px;
}

.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo,
.indicadores2 button:hover,
.indicadores2 button.activo {
	background: #045022;
}


/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
.canciones-recomendadas {
	margin-bottom: 70px;
    margin-left: 30px;
}

.canciones-recomendadas .contenedor-principal {
	display: flex;
	align-items: center;
	position: relative;
}

.canciones-recomendadas .contenedor-principal .flecha-izquierda,
.canciones-recomendadas .contenedor-principal .flecha-derecha {
	position: absolute;
	border: none;
    background: none;
	font-size: 40px;
	height: 70%;
	margin-bottom: 3%;
	line-height: 40px;
	width: 50px;
	color: #fff;
	cursor: pointer;
	z-index: 500;
	transition: .2s ease all;
}

.canciones-recomendadas .contenedor-principal:hover .flecha-izquierda,
.canciones-recomendadas .contenedor-principal:hover .flecha-derecha {
	background: rgba(0,0,0,0.3);
}

.canciones-recomendadas .contenedor-principal .flecha-izquierda:hover,
.canciones-recomendadas .contenedor-principal .flecha-derecha:hover {
	background: rgba(0,0,0, .9);
}

.canciones-recomendadas .contenedor-principal .flecha-izquierda {
	left: 0;
}

.canciones-recomendadas .contenedor-principal .flecha-derecha {
	right: 0;
}


/* ---- ----- ----- Carousel ----- ----- ----- */
.canciones-recomendadas .contenedor-carousel,
.contenedor-carousel2 {
	width: 100%;
	padding: 20px 0;
	overflow: hidden;
	scroll-behavior: smooth;
}

.canciones-recomendadas .contenedor-carousel .carousel,
.contenedor-carousel2 .carousel {
	display: flex;
	flex-wrap: nowrap;
}

.carousel-comunidad img,
.carousel-comunidad2 img{
	width: 300px;
	border-radius: 15px;
}

.carousel-comunidad,
.carousel-comunidad2{
	text-decoration: none;
	display: flex;
	flex-direction: column;
	margin-right: 100px;
}

.carousel-comunidad h2,
.carousel-comunidad2 h2{
	font-size: 1.5rem;
}