/* Menu */

nav ul li:hover{
  transform: scale(1.1);
}

nav li{
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

li{
  list-style: none;
}

nav a, .menu-desplegado a{
  text-decoration: none;
  color: white;
  font-weight: 600;
}

header{
  position: relative;
  padding: 0 2%;
  width: 100%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
}

nav{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

nav ul{
  list-style: none;
  justify-content: space-around;
  margin-right: 2%;
  align-items: center;
  display: flex;
  gap: 2.5rem;
}

nav .efecto a{
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  position: relative;
}

nav .efecto a:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 100%;
  background: #e9e0d2; /* Color subrayado */
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}
nav .efecto a:hover:after {
  transform-origin: left;
  transform: scaleX(1);
}

nav .toggle_btn{
  color: var(--white);;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.logo{
  display: flex;
  align-items: center;
}

.logo img{
  width: 70px;
  border-radius: 50%;
  margin-right: 10px;
}

.menu-desplegado{
  display: none;
  position: absolute;
  right: 2rem;
  top: 100px;
  height: 0;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);
  border-radius: 15px; 
  overflow: hidden;
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu-desplegado.open{
  height: 82px;
}

.menu-desplegado li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media (max-width: 890px){
  nav ul{
    display: none;
  }

  nav .toggle_btn{
    display: block;
  }

  .menu-desplegado{
    display: block;
  }
}

@media (max-width: 890px){
  .menu-desplegado{
    left: 2rem;
    width: unset;
  }
}

.menu-desplegado.open li:hover{
  background-color: var(--dark-green);
}

@media (max-width: 768px) {
  .menu-desplegado.open {
    height: 75px;
  }
}