@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --black: #1b1717;
  --white: #ffffff;
  --green: #2dc954;
  --dark-green: rgb(53, 143, 75);
  --darker-green: #045022;
  --margin-top: 10.625em;
  ---larger-inputs-width: 30rem;
}


*{
  color: var(--white);
  /* font-family: 'Arimo'; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  background-color: var(--black);
}

footer {
  position: fixed; 
  bottom: 0; 
  margin: 10px 0px 20px 0px;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.main__top-margin {
  margin-top: var(--margin-top);
}

.label-input {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

input, select{
  padding: 10px 15px;
  font-size: 1rem;
  border:2px solid;
  border-style:solid;
  border-radius: 5px;
  color: var(--black);
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

input:focus, select:focus {
  outline: none;
  border:2px solid var(--green);
  box-shadow: 0 0 10px #719ECE;
}

label {
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.larger-inputs {
  width: var(---larger-inputs-width);
}

.larger-inputs-signup {
  width: 20rem;
}

form {
  display: flex;
  flex-direction: column;
  border: 0;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 15px;
}

.Login__main-login-form-little_text {
  margin: 0;
  text-align: center;
}

.Login__main-login-form-little_text a{
  font-weight: bold;
  text-decoration: none;
}

#botonEnviar, #signup-little_text, #selector-pregunta {
  grid-column: span 2;  
}

#selector-pregunta input {
  width: 100%;
}

#respuesta-pregunta i {
  margin-left:calc(var(---larger-inputs-width)*2 + 10px - 22rem);
  margin-top: 9px;
}

select {
  padding-right: 5rem;
}

select option {
  background-color: var(--white);
  color: var(--black);
  font-size: 15px;
  padding: 5px 0;
}

#pregunta-recuperacion.selector option:hover {
  background: var(--green);
  color: var(--white);
}


.label-input i {
  position: absolute;
  margin-top: 38px;
  margin-left:calc(var(---larger-inputs-width) - 12rem);
  padding: 5.5px;
  color: var(--black);
  background-color: var(--white);
}


/* Nav */
header {
  width: 100%;
  background-color: var(--green);;
}

h1 {
  text-align: center;
}

#index-container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h3{
  width: 25rem;
  text-align: center;
}

/* Estilo Boton 1 */

.btn-1 {
  padding: 10px 15px;
  border-radius: 100px;
  background-color: var(--green);
  font-weight: 700;
  font-size: 1rem;
  color: var(--white);
  border: none;
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn-1:hover{
  background-color: var(--dark-green);
  cursor: pointer;
}

/* Estilo Boton 2 */

.btn-2{
  padding: 15px 45px;
  border-radius: 100px;
  background-color: var(--white);
  font-weight: 700;
  font-size: 1rem;
  color: var(--black);
  cursor: pointer;
  text-decoration: none;
}

.logo{
  display: flex;
  align-items: center;
}

.logo img{
  width: 70px;
  border-radius: 50%;
  margin-right: 10px;
}

nav .logo h1{
  font-size: 2.5rem;
  font-weight: bold;
  width: 100%;
}

.logo-alternativo{
  text-decoration: none;
  margin-left: 15px;
  margin-top: 10px;
  width: 241px;
}

/* INDEX */
.index__elements-margin {
  margin: 1rem 0;
}

.index__more-info {
  background-color: var(--white);
  min-width: 99vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15em;
}

.index__more-info_cards {
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
}

.card {
  height: 30rem;
  width: 22rem;
  border-radius: 80px;
  text-align: center;
  background-color: var(--black);
  margin: 0 3rem;
  padding: 3rem;
}

.card-icon {
  margin-top: 15px;
  font-size:2.5rem;
}

.card-title {
  font-size: 200%;
}

@media (max-width: 1310px) {
  .index__more-info_cards {
    flex-direction: column;
  }

  .card {
    margin: 3rem 0;
  }
}
.index__banner_last-child {
  margin-bottom: 5rem;
}


/* Divider */
.custom-shape-divider-top-1699961446 {
  position: absolute;
  top: 554px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1699961446 svg {
  position: relative;
  display: block;
  width: calc(121% + 1.3px);
  height: 121px;
}

.custom-shape-divider-top-1699961446 .shape-fill {
  fill: #1B1717;
}

h1 {
  font-size: 2.5em;
}

.index__h3 {
  font-size: 1.5em;
}

.mis-comunidades{
  background-color: var(--darker-green);
  padding-top:30px
}


.card p
{
  margin-top: 40px;
}
.contenedor-carrousel h2{
  font-size: 1.7rem;
}


.comentarios{
  width: 74%;
  margin-inline: 13%;
}

.comentario .perfil{
  display: flex;
  justify-content: space-between;
}

.comentario{
  padding: 2%;
  border: 2px solid var(--white);
  border-radius: 25px;
  margin-bottom: 22px;
}

.comentario .contenido{
  margin-bottom: 50px;
  margin-top: 10px;
}

.material-symbols-outlined{
  color: var(--dark-green);
}

.searcher {
  display: flex;
  justify-content: center;
  padding: 2rem 7rem;
  background-color: var(--darker-green);
  width: 30rem;
  margin: 0 auto;
}
.search_bar {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.search-icon {
  font-size: 2rem;
  position: absolute;
  left: 60rem;
}

.album img{
  width: 100%;
  size: cover;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.album{
  background-color: var(--black);
  border: none;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 15px;
  transition: .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
  margin-inline: 20px;
}

.album p{
  font-weight: bold;
  margin-top: 15px;
  font-size: 1rem;
}

.albumes{
  display: flex;
  width: 94%;
  margin-inline: 3%;
  margin-bottom: 80px;
}

.album:hover{
  transform: scale(1.05);
}

/* Modal */

.modal,
.modal2{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s .7s;
  --transform: translateY(100vh);
  --transition: transform .5s;
}

.modal--show{
  opacity: 1;
  pointer-events: unset;
  transition: opacity .5s;
  --transform: translateY(0);
  --transition: transform .7s .7s;
}

.modal__container{
  margin: auto;
  width: 90%;
  max-width: 450px;
  height: 500px;
  background-color: var(--black);
  border-radius: 15px;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
  transform: var(--transform);
  transition:var(--transition);
}

.modal__title{
  font-size: 2.5rem;
  margin-left: 30px;
  margin-bottom: 20px;
  margin-top: 0;
}

.modal__paragraph{
  width: 100%;
  margin-bottom: 10px;
  margin-top: -180px;
}

.modal__img{
  width: 90%;
  max-width: 300px;
}

.modal__close,
.modal__close2{
  text-decoration: none;
  color: #fff;
  background-color: rgb(155, 22, 22);
  padding: 1em 3em;
  border: none;
  border-radius: 15px;
  display: inline-block;
  font-weight: bold;
  transition: background-color .5s;
  cursor: pointer;
}

.modal__close:hover,
.modal__close2:hover{
  color: rgb(155, 22, 22);
  background-color: #fff;
}


@media (max-width:800px) {
  .nav__list{
      display: none;
  }

  .nav__menu{
      display: block;
  }

  .modal__container{
      padding: 2em 1.5em;
  }

  .modal__title{
      font-size: 2rem;
  }
}

.mensaje-error{
  color: rgb(155, 22, 22);
  font-weight: bold;
  font-size: 1.1rem;
}

.modal__upper{
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--green);
  width: 100%;
  justify-content: center;
}

#imagen-album{
  width: 100px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.nombres-columnas{
  margin-top: -120px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  border-bottom: 2px solid grey;
  text-align: center;
  align-items: center;
}

.nombres-columnas span{
  color: var(--green);
  margin-bottom: 7px;
}

.nombres-columnas p{
  font-weight: 500;
  margin-bottom: 7px;
}

#Canciones{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: center;
  align-items: center;
}

#Canciones p{
  margin-top: 15px;
}

#Fecha{
  margin-left: 17px;
}

.row
{
  display: flex;
  justify-content: space-around;
}

.ComuPer
{
  margin-top: 1%;
  font-size: 20px;
  text-decoration:none; 
}


.imgCarrusel
{
  width: 100%;
  height: auto;
}

.boton-comentario,
.boton-comentario2{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

textarea{
  font-size: 1rem;
  background-color: var(--black);
  border-radius: 15px;
  padding: 15px;
  width: 100%;
}

.modal__enviar{
  text-decoration: none;
  color: #fff;
  background-color: var(--green);
  padding: 1em 3em;
  border: none;
  border-radius: 15px;
  display: inline-block;
  font-weight: bold;
  transition: background-color .5s;
  cursor: pointer;
  margin-left: 15px;
}

.modal__enviar:hover{
  color: var(--green);
  background-color: #fff;
}

.boton-unirse{
  text-decoration: none;
  color: #fff;
  background-color: var(--green);
  padding: 1em 2.2em;
  border: none;
  border-radius: 15px;
  display: inline-block;
  font-weight: bold;
  transition: background-color .5s;
  cursor: pointer;
  font-size: 1rem;
}

.boton-unirse:hover{
  color: white;
  background-color: var(--dark-green);
}

.contenedor-unirse-salir{
  display: flex;
  justify-content: end;
}

.boton-salir{
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  background-color: rgb(197, 29, 29);
  padding: 1em 2.2em;
  border: none;
  border-radius: 15px;
  display: inline-block;
  font-weight: bold;
  transition: background-color .5s;
  cursor: pointer;
}

.boton-salir:hover{
  color: white;
  background-color: rgb(155, 22, 22);
}

.contenedor-unirse-salir{
  position: absolute;
  right: 40px;
  top: 119px;
}

.contenido-mensaje{
  padding: 25px;
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  padding-bottom: 60px;
}

.contenido-mensaje:focus {
  outline: none !important;
  border: 2px solid var(--green);
  box-shadow: 0 0 10px var(--dark-green);
}

.form-mensaje{
  margin-bottom: 100px;
}

.form-mensaje input[type="submit"]{
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  background-color: var(--green);
  padding: 0.7em 2.2em;
  border: none;
  border-radius: 15px;
  display: inline-block;
  font-weight: bold;
  transition: background-color .5s;
  cursor: pointer;
  margin-top: -40px;
}

.form-mensaje input[type="submit"]:hover{
  color: white;
  background-color: var(--dark-green);
}


/* Alertas */

.contenedor-toast {
	position: fixed;
	right: 40px;
	bottom: 20px;
	width: 100%;
	width: 400px;
	display: flex;
	flex-direction: column-reverse;
	gap: 20px;
}

.toast {
	background: #ccc;
	display: flex;
	justify-content: space-between;
	border-radius: 10px;
	overflow: hidden;
	animation-name: apertura;
	animation-duration: 200ms;
	animation-timing-function: ease-out;
	position: relative;
  display: none;
}

.toast.exito {
	background: var(--green);
}
.toast.error {
	background: rgb(155, 22, 22);
}

.toast .contenido {
	display: grid;
	grid-template-columns: 30px auto;
	align-items: center;
	gap: 15px;
	padding: 15px;
}

.toast .icono {
	color: rgba(0, 0, 0, 0.4);
}

.toast .titulo {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 5px;
}

.toast .btn-cerrar {
	background: rgba(0, 0, 0, 0.1);
	border: none;
	cursor: pointer;
	padding: 0px 5px;
	transition: 0.3s ease all;
}

.toast .btn-cerrar:hover {
	background: rgba(0, 0, 0, 0.3);
}

.toast .btn-cerrar .icono {
	width: 20px;
	height: 20px;
	color: #fff;
}

@keyframes apertura {
	from {
		transform: translateY(100px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

.toast.cerrando {
	animation-name: cierre;
	animation-duration: 200ms;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

@keyframes cierre {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(100% + 40px));
	}
}

.toast.autoCierre::after {
	content: '';
	width: 100%;
	height: 4px;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	bottom: 0;
	animation-name: autoCierre;
	animation-duration: 5s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

@keyframes autoCierre {
	from {
		width: 100%;
	}
	to {
		width: 0%;
	}
}

.btn {
	padding: 10px 20px;
	font-size: 20px;
	background: #000;
	border: none;
	cursor: pointer;
	color: #fff;
	border-radius: 5px;
	transition: 0.3s ease all;
}

.btn.exito {
	background: var(--exito);
}
.btn.error {
	background: var(--error);
}
.btn.info {
	background: var(--info);
}
.btn.warning {
	background: var(--warning);
}