@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --black: #1b1717;
  --white: #ffffff;
  --green: #2dc954;
  --dark-green: rgb(53, 143, 75);
  --margin-top: 10.625em;
}


*{
  color: var(--white);
  /* font-family: 'Arimo'; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  background-color: var(--black);
}

footer {
  position: fixed; 
  bottom: 0; 
  margin: 10px 0px 20px 0px;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.main__top-margin {
  margin-top: var(--margin-top);
}

.label-input {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

input{
  padding: 10px 15px;
  font-size: 1rem;
  border-style:solid;
  border-radius: 5px;
  color: var(--black);
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

input:focus {
  outline: none;
  border:2px solid var(--green);
  box-shadow: 0 0 10px #719ECE;
}

label {
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.larger-inputs {
  width: 18rem;
}

form {
  display: flex;
  flex-direction: column;
  border: 0;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 15px;
}

.Login__main-login-form-little_text {
  margin: 0;
  text-align: center;
}

.Login__main-login-form-little_text a{
  font-weight: bold;
  text-decoration: none;
}

#botonEnviar, #signup-little_text {
  grid-column: span 2;  
}

.label-input i {
  position: absolute;
  margin-top: 38px;
  margin-left:16rem;
  padding: 5.5px;
  color: var(--black);
}


/* Nav */
header {
  width: 100%;
  background-color: var(--green);;
}

h1 {
  text-align: center;
}

#index-container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h3{
  width: 25rem;
  text-align: center;
}

/* Estilo Boton 1 */

.btn-1 {
  padding: 10px 15px;
  border-radius: 100px;
  background-color: var(--green);
  font-weight: 700;
  font-size: 1rem;
  color: var(--white);
  border: none;
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn-1:hover{
  background-color: var(--dark-green);
  cursor: pointer;
}

/* Estilo Boton 2 */

.btn-2{
  padding: 15px 45px;
  border-radius: 100px;
  background-color: var(--white);
  font-weight: 700;
  font-size: 1rem;
  color: var(--black);
  cursor: pointer;
  text-decoration: none;
}

.logo{
  display: flex;
  align-items: center;
}

.logo img{
  width: 70px;
  border-radius: 50%;
  margin-right: 10px;
}

nav .logo h1{
  font-size: 2.5rem;
  font-weight: bold;
  width: 100%;
}

.logo-alternativo{
  text-decoration: none;
  margin-left: 15px;
  margin-top: 10px;
  width: 241px;
}

/* INDEX */
.index__elements-margin {
  margin: 1rem 0;
}

.index__more-info {
  background-color: var(--white);
  min-width: 99vw;
  height: 60em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.index__more-info_cards {
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
}

.card {
  height: 30rem;
  width: 22rem;
  border-radius: 80px;
  text-align: center;
  background-color: var(--black);
  margin: 0 3rem; ;
}

/* Comunidades */

.IMGindex
{
  width: 7rem;
  height: auto;
}

.Pindex
{
  width: 20rem;
  height: 10rem;
  text-align: center;
  margin-left: 1rem;
  margin-top: 40px;
}

/* Artistas  */

.IMGArt
{
  width: 8rem;
  height: auto;
}



.index__banner_last-child {
  margin-bottom: 5rem;
}


/* Divider */
.custom-shape-divider-top-1699961446 {
  position: absolute;
  top: 554px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1699961446 svg {
  position: relative;
  display: block;
  width: calc(121% + 1.3px);
  height: 121px;
}

.custom-shape-divider-top-1699961446 .shape-fill {
  fill: #1B1717;
}

h1 {
  font-size: 2.5em;
}

.index__h3 {
  font-size: 1.5em;
}




